<title id="texto">Hola</title>
<hr />

<h1>Data Products</h1>
<section class="products">
  <div class="product" *ngFor="let product of dataProducts">    
    <img width="150px" [src]="product.image">
    <div class="product-description">
      <p>{{product.name}} </p>
      <p>Precio: ${{product.price}}</p>     
    </div> 
  </div>
</section>

<hr />

<h1>Estructuras de control</h1>
<p>ngFor</p>
<ul>
  <li *ngIf="names.length < 1">No quedan elementos en el lista</li>
  <li *ngFor="let name of names; index as i">{{i}} {{name}} 
  <button (click)="deleteName(i)">Eliminar</button>
  </li>
</ul>

<hr />
<p>Agregar nombre</p>
<input #inputNewName type="text" [(ngModel)]="newName">
<button *ngIf="inputNewName.value !== ''" (click)="addName()">Add name for names array</button>

<hr />
<div>
  <input type="text" required [(ngModel)]="user.name">
  <p *ngIf="user.name === 'fabian'; else elseBlock">Show content for Fabian</p>
  <ng-template #elseBlock>
    <p>Bloque else</p>
  </ng-template>
</div>

<hr />
<p>ngIF</p>
<div>
  <p *ngIf="user.age > 10">Show content becouse user.age is more than 10</p>
</div>
<div>
  <input type="text" required [(ngModel)]="user.name">
  <p *ngIf="user.name === 'fabian'; else elseBlock">Show content for Fabian</p>
  <ng-template #elseBlock>
    <p>Bloque else</p>
  </ng-template>
</div>



<h1>NgModel</h1>
<div >
  <input type="text" required #nameInput="ngModel" [(ngModel)]="user.name">
  <p>Valido ?: {{ nameInput.valid }}</p>
</div>

<div>
  <input type="number" required #ageInput="ngModel" [(ngModel)]="user.age">
  <p>Edad valida ?: {{ ageInput.valid }}</p>
</div>

<span>Hola, soy {{user.name.repeat(2)}} </span>

<h1>Propiedades:</h1>

<button [disabled]=btnDisabled onclick="{'/home'}">Envio</button>
<button [disabled]=btnDisabled >Hola</button>
<h2>Average:</h2>
<progress max="100" [value]="user.age"></progress>
<h2>My user</h2>
<h3>{{user.name}}</h3>
<ul>
  <li>{{user.name}}</li>
  <li>{{user.lastName}}</li>
</ul>


<button (click)="binding()">Event Binding</button>


<h2>My user</h2>
<h3>{{user.name}}</h3>
<ul>
  <li>{{user.age}}</li>
</ul>
<button (click)="ingreseAge()">Age ++</button>
<button (click)="decreseAge()">Age --</button>

<div style="display: flex; gap: 20px; justify-content: space-around;">
  <section class="box-text" (scroll)="onScroll($event)">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas beatae eveniet delectus dignissimos, blanditiis vero nostrum autem animi illum deserunt quaerat pariatur quis earum vel eligendi dolorem totam id cum!</p>
  </section>
  <section>
    <span style="font-size: 30px;"> {{scrollProperty}}</span>
  </section>
</div>


<div style="display: flex; gap: 20px; justify-content: space-around;">
  <input type="text" [value]="user.name" (keyup)="changeName($event)">
  
</div>